body{
  background-color: rgb(255, 255, 255);
}


.position-question{
  font-family: 'Montserrat','Noto Sans SC', sans-serif;
  font-size: 16px;
  color: #000000;
  /* background: white; */
  /* display: inline-block; */
  padding: 0.5rem ;
  border-radius: 2rem;
  box-shadow: 3px 3px 10px rgb(255 255 255 / 20%);
  margin: 0.5rem 0;
  background: linear-gradient(0deg, #2c537b64, #ffffff);
}