#first-paragraph{
  font-family: 'Montserrat','Noto Sans SC', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  color: #000000;
  background: white;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  font-weight: 500; ;
}

#second-paragraph{
  font-family: 'Montserrat','Noto Sans SC', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  color: #000000;
  background: white;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
}

