.talk-box{
  font-family: 'Montserrat','Noto Sans SC', sans-serif;
  font-size: 16px;
  color: #000000;
  background: white;
  width: 100%;
}


.talk-box{

    padding: 1rem 1rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 10px rgb(255 255 255 / 20%);
    margin: 0.5rem 0;
    background: linear-gradient(0deg, #0000002e, #ffffff00);
}
