#first-paragraph{
  background-color: rgb(131, 245, 255);
  border: 1em solid rgb(0 105 255 / 28%);
  border-radius: 1em;
}

#second-paragraph{
  background-color: rgb(255, 106, 0);
  border: 1em solid rgba(255, 187, 0, 0.28);
  border-radius: 3em;
}